In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, KFold, StratifiedKFold
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv("titanic.csv")
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
df = df.drop(columns = ["Name", "PassengerId", "Cabin", "Ticket", "Embarked", "Parch", "SibSp"], axis = 1)

In [ ]:
dummies = pd.get_dummies(df["Sex"])
df = df.drop(columns = ["Sex"])
df = pd.concat([df, dummies], axis = "columns")
df.isna().sum()

In [ ]:
df["Age"] = df.Age.fillna(value = df.Age.mean())
df.head(3)

In [ ]:
X = df.drop("Survived", axis = 1)
y = df["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

model = GaussianNB()
model.fit(X_train, y_train)

In [ ]:
score1 = model.score(X_test, y_test)
score2 = cross_val_score(model, X, y)
score1, score2

In [ ]:
skf = KFold(n_splits = 10)
score3 = []
def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)
for train_index, test_index in skf.split(X):
    X_train, X_test, y_train, y_test = X.iloc[train_index], X.iloc[test_index], y.iloc[train_index], y.iloc[test_index]
    score3.append(get_score(model, X_train, X_test, y_train, y_test))
score3

In [ ]:
y_pred = model.predict(X_test)
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
import seaborn as sns
plt.figure(figsize = (12, 6))
sns.heatmap(confusion_matrix, annot = True)
plt.xlabel("predicted")
plt.ylabel("truth")

In [ ]:
model.predict_proba(X_test)