In [227]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import numpy as np
from sklearn.model_selection import train_test_split, KFold

df = pd.DataFrame({
    "area" : [2600, 3000, 3200, 3600, 4000],
    "bedrooms": [3, 4, np.nan, 3, 5],
    "age": [20, 15, 18, 30, 8],
    "price": [550000, 565000, 610000, 595000, 760000]
})
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [220]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
df.bedrooms.fillna(median_bedrooms, inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [229]:
model = linear_model.LinearRegression()
X = df[["area", "bedrooms", "age"]]
y = df["price"]


kf = KFold(n_splits=3)
def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)
for train_index, test_index in kf.split(X):
    X_train, X_test, y_train, y_test = X.iloc[train_index], X.iloc[test_index], y[train_index], y[test_index]
    print(get_score(LinearRegression(), X_train, X_test, y_train, y_test))

KeyError: "None of [Index([2, 3, 4], dtype='int32')] are in the [columns]"

In [222]:
model.coef_

array([  163.12497188,   375.06749999, -4499.994375  ])

In [223]:
model.intercept_

141624.73000004637

In [224]:
model.predict(np.array([[3000, 3, 40], [2500, 4, 5]]))

C:\Users\nyasa\Downloads\ANACONDA\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([452125.07312499, 528437.45781251])

In [225]:
y_pred = model.predict(X_test)
y_pred

array([476874.971875  , 583749.94375001])

In [226]:
model.score(X_test, y_test)

-2.3535195507827837