In [6]:
import pandas as pd
import  numpy as np
df = pd.read_csv("homeprices_banglore.csv")
df.sample(4)

    area  bedrooms   price
19   800         1   32.00
6   2732         4  135.00
12  1000         2   38.00
0   1056         2   39.07

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler_X = MinMaxScaler()
scaler_y = MinMaxScaler()
X_scaled = scaler_X.fit_transform(df.drop(columns = ["price"], axis = 1))
y_scaled = scaler_y.fit_transform(df["price"].values.reshape(df.shape[0],1))

In [ ]:
def  batch_gradient_descent(X, y_true, epochs, learning_rate=0.01):
    number_of_features = X.shape[1]
    w = np.ones(shape = (number_of_features))
    b = 0
    total_samples = X.shape[0]
    for i in range(epochs):
        y_predicted = bias + np.dot(w, scaled_X.T)
        n